#
# systemd service file to configure the private nic
#

[Unit]
Description=Cosmic setup private nic
Requires=qemu-guest-agent.service
After=qemu-guest-agent.service

[Service]
Type=oneshot
ExecStart=/bin/sh /opt/cosmic/startup/setup-private-nic.sh

[Install]
WantedBy=multi-user.target
